// Import the theme
@import 'vanilla-framework';
@include vanilla;

// Optionally override some settings
$color-brand: #ffffff;

// Add theme if applicable

.rounded-corners
{
	border-radius: 0.125rem;
}

.top-bar
{
	border-top: 0.25rem solid #a87ca0;
}

.l-card
{
	display: flex;
	flex-direction: column;
}

.decreased-card-padding
{
	padding: 0.5rem;
}

.dotted-horizontal-line
{
	border-top: 1px dotted #cdcdcd;
}

.card-header
{
	padding-left: 0.5rem;
	padding-right: 0.5rem;
	padding-top: 1rem;
	padding-bottom: 0.5rem;
	margin-top: 0;
	margin-bottom: 0;
	font-weight: 300;
}

.card-link
{
	font-weight: 300;
}

.card-footer
{
	margin-bottom: 0;
	font-size: 0.875rem;
	padding-left: 0.5rem;
	padding-right: 0.5rem;
	padding-bottom: 0.5rem;
}

.decreased_content_padding
{
	padding-left: 0.5rem;
	padding-right: 0.5rem;
}

.thicker-shadow
{
	//box-shadow: 0 1px 1px 0 rgba(0,0,0,.15),0 2px 2px -1px rgba(0,0,0,.15),0 0 3px 0 rgba(0,0,0,.2)
	box-shadow: -1px 1px 2px 1px rgba(0, 0, 0, 0.11), 1px 1px 2px 1px rgba(0, 0, 0, 0.11);
}