// Import the theme
@import 'vanilla-framework';
@include vanilla;

// Optionally override some settings
$color-brand: #ffffff;

// Add theme if applicable

.central-placement
{
	display: flex;
	align-items: center;
	height: 100vh;
}

.rounded-corners
{
	border-radius: 0.25rem;
}

.top-bar
{
	border-top: 0.25rem solid #a87ca0;
}

.category-padding
{
	padding-left: 1rem;
}

.l-card
{
	display: flex;
	flex-direction: column;
}